@import '../../../../sass/vendor/variables';
@import '../../../../sass/vendor/util';

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-codestater-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-codestater-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-codestater-row td {
  border-bottom-width: 0;
}

.example-codestater-detail {
  overflow: hidden;
  display: flex;
}

mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-color: $brand-color;
}

td {
  cursor: pointer;
}

.language-ranking-item {
  padding: 2px 5px;
  border-radius: 10px;
  background-color: $violet-light;
}

.codestats-link {
  padding-top: 9px;
  font-size: 10px;
  padding-left: 2px;
}
